
.header{
    -fx-background-color: #a19f9f;
    -fx-border-color: #fff;
    -fx-border-width: 0 0 .8px 0;
}
.header1{
    -fx-background-color: #cbc8c8;
    -fx-border-color: #fff;
    -fx-border-width: 0 0 .8px 0;
}
/* Normal state */
.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-border-radius: 10px;
    -fx-padding: 10px 45px;
}





.logout{
    -fx-background-color: #106abf;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 50px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.transparent{
    -fx-background-color: transparent;
}


.btn-button{
    -fx-background-color: #106abf;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}
.btn-button1{
    -fx-background-color: #9d0c0c;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}



.text{
    -fx-background-color: rgb(246, 243, 243);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}
